<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com"> 
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> 
    <link href="https://fonts.googleapis.com/css2?family=Hachi+Maru+Pop&family=Poppins:wght@200;300;400;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css"/>
    <title>Elderly WeCare</title>
</head>
<body>
    <div class="container">
        <header>
                <a href="#"><img src="/images/logo.svg" alt="heart logo">
                <h3>Elderly WeCare</h3></a>
            <nav>
                <ul>
                    <li><a href="#">Home</a></li>
                    <li><a href="#about-us">Who we are</a></li>
                    <li><a href="#how-can-i-help">How can I help?</a></li>
                    <li><a href="#contact-us">Contact Us</a></li>
                </ul>
            </nav>
        </header>
        <main>
            <section class="main-section">
                <img src="/images/elderly.png" alt="elder woman illustration">
                <div class="text-main-section">
                    <h1>Elderly WeCare</h1>
                    <p>We care about our older people.</p> <p>Please consider donating to us by clicking in the button donate below.</p>
                    <form class="donate-button"><script src="https://checkout.razorpay.com/v1/payment-button.js" data-payment_button_id="pl_Hn171l13mjtApB" async> </script> </form>
                    <!--<button class="donate-button">Donate</button>-->
                </div>
            </section>
            <section id="about-us">
                <img src="/images/hands.png" alt="hands touching">
                <div class="about-us-text">
                    <h2>Who we are</h2>

                    <p>Elderly WeCare exists because of our amazing volunteers who selflesly make company and provide help to our elderly community. Thanks to your donation our volunteers can receive a little help with fuel or public transpostation tickets so they can visit our lovely older friends.</p>
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Expedita temporibus amet nobis quidem esse aliquid animi impedit quisquam id, corporis adipisci illo necessitatibus libero architecto. Officia in dolorum voluptate voluptates!</p>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Consequatur, consequuntur eum iusto est amet magni, deleniti perferendis, rerum voluptate pariatur quam! Asperiores atque id voluptate tempore, possimus est dignissimos dolore.</p>
                </div>
            </section>
            <section id="how-can-i-help">
                <img src="/images/group.png" alt="women holding hands">
                <div>
                    <h2>How can I help?</h2>
                    <h3>Every little help counts!</h3>
                    <p>There are 2 major ways you can help our community: by being a volunteer and help us give care and make company to our elderly friends or by giving a contribution so our volunteers can do what they love and being compensated by their small expenses</p>
                    
                    <!--<a href="#" class="donate-button">Donate</a>-->
                    <button class="donate-button"><a href="#" class="donate-button">Donate</a></button>
                    <button class="volunteer-button">Volunteer</button>
                </div>
            </section>
            <section id="contact-us">
                <h2>Contact us</h2>
                <form action="">
                    <div class="input-group">
                        <label for="name" class="sr-only">Name</label>
                        <input id="name" type="text" placeholder="Your name" required>
                    </div>
                    <div class="input-group">
                        <label for="email" class="sr-only">E-mail</label>
                        <input id="email" type="email" placeholder="Your e-mail" required>
                    </div>
                    <div class="input-group">
                        <label for="message" class="sr-only">Message</label>
                        <textarea name="message" id="message" placeholder="Please write your message here" required></textarea>
                    </div>
                    <div class="input-group">
                        <button>Send message</button>
                    </div>
                </form>
            </section>

        </main>
        <footer>
                <a id="footer-logo" href="#"><img src="/images/logo.svg" alt="heart logo">
                <h3>Elderly WeCare</h3> </a>
            <div class="social-media">
                <h2>Let's connect!</h2>
                <a href="https://www.linkedin.com/in/suelenmrodrigues/"><i class="fab fa-linkedin-in"></i> Linked in</a>
                <a id="profile-link" href="https://github.com/SuelenRodrigues" target="_blank"><i class="fab fa-github"></i> GitHub</a>
                <a href="mailto: rodrigues.su@outlook.com"><i class="fas fa-at"></i> Send an e-mail</a>
            </div>
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#about-us">Who we are</a></li>
                <li><a href="#how-can-i-help">How can I help?</a></li>
                <li><a href="#contact-us">Contact Us</a></li>
            </ul>
        </footer>
    </div>
    
</body>
</html>