<aside>
    
    <div class="main-img2">
        <img src="/images/money.svg" alt="money notes">
    </div>
    <div class="main-img">
        <img src="/images/group.png" alt="group of people">
    </div>
    <div class="main-img3">
        <img src="/images/report.svg" alt="report image">
    </div>
</aside>
</main>